file.exe
firstyacc.l
firstyacc.tab.c
firstyacc.tab.h
firstyacc.y
lex.yy.c
prac1.exe
prac1.o
prac4_1.l
pract2-3.cpp
pract2.cpp
pract3.cpp
pract4_2.l
pract4_3.l
pract4_4.l
pract5.l
program11.cpp
project.py
